@import 'assets/css/global/global.css';

body{
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  display: flex;
  height: 6.5rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid gray;
}

.header--color-styles{
  background: rgb(233, 233, 233);
  /*color: #575151;*/
  color: black;
}

.header__title{
  margin-left: 1.5rem;
  pointer-events: none;
  user-select: none;
  font-family: 'Roadstore';
}

.header__navigation{
  display: flex;
  margin-right: 40px;
}

.header__navigation-list{
  display: flex;
  list-style: none;
  margin-right: 3rem;
  gap: 1.5rem;
}

.header__navigation-item{
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: var(--lato-font);
  font-weight: 700;
}

.header__navigation-item:hover{
  position: relative;
}

.header__navigation-item::after{
  content: "";
  background-color: rgb(146, 0, 0);
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all .5s;
}

.header__navigation-element:hover .header__navigation-item::after{
  width: 100%;
}

.header__navigation-social-media{
  display: flex;
  gap: 15px;
}

.header__navigation-social-media-item{
  color: black;
  transition: all .5s;
  font-size: 1.5rem;
}

.header__navigation-social-media-item:hover{
  transform: translateY(-.25rem);
}

.header__navigation-list:has(.header__navigation-element:hover) .header__navigation-element:not(:hover) {
  opacity: .3;
}

.header__navigation-social-media-item{
  text-decoration: none;
}

.modes{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
}

.modes--light{
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.main-content{
  margin: auto;
  width: 864px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.main-content__title{
  font-family: 'Inter';
  margin-bottom: 10px;
}

.main-content__figure{
  display: block;
}

.main-content__image{
  width: 100%;
}

.main-content__image-caption{
  font-family: 'Inter',sans-serif;
  font-style: italic;
}

.content-page{
  margin-top: 100px;
  text-align: justify;
  font-family: 'Inter';
  font: 500;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.content-page__list{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.header__menu-button{
  font-size: 2.5rem;
  float: right;
  display: none;
}

.header__navigation-close-button{
  display: none;
}

@media (max-width: 1193px){
  .header__navigation{
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: rgb(219, 219, 219);
    border-bottom-left-radius: 25px;
    margin-right: 0;
    top: 0;
    right: -100%;
    /*right: 0;*/
    /*border: 1px solid black;*/
    transition: all .5s;
  }
  .show-menu{
    right: 0;

  }
  .header__navigation-list{
    flex-direction: column;
    margin-right: 0;
    gap: 50px;
    margin-top: 50px;
  }
  .header__navigation-social-media{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;    
  }
  .header__navigation-close-button{
    position: absolute;
    display: block;
    padding: 10px;
    font-size: 2rem;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .header__menu-button{
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
  }
}

