@import 'assets/css/global/global.css';

body{
  min-height: 100vh;
  min-width: 413px;
  /*background: #202024;*/
  /*color: rgb(214, 214, 214);*/
  background: whitesmoke;
  border-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.header{
  display: flex;
  width: 100%;
  min-width: 420px;
  height: 6.5rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.header--color-styles{
  background: inherit;
}

.header--border-syles{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid;
  border-color: inherit;
}

.header__title{
  margin-left: 1.5rem;  
}

.header__title--font-style{
  font-family: 'Roadstore';
}

.header__title--user-select-style {
  user-select: none; 
}

.header__navigation{
  display: flex;
}

.header__navigation-list{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__navigation-list--list-style{
  list-style: none;
}

.header__navigation-element:hover .header__navigation-item::after{
  width: 100%;
}

.header__navigation-list:has(.header__navigation-element:hover) .header__navigation-element:not(:hover) {
  transition: all .5s;
  opacity: .3;
}

.header__navigation-item{
  position: relative;
}

.header__navigation-item--font-style{
  text-decoration: none;
  font-size: 1.07rem;
  font-family: 'Roadstore';
  font-weight: 700;
}

.header__navigation-item--color{
  color: inherit;
}

.header__navigation-item:hover{
  position: relative;
}

.header__navigation-item::after{
  content: "";
  background-color: rgb(146, 0, 0);
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all .5s;
}

.btn-login, .btn-logout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  max-width: 230px;
  height: 50px;
  margin-left: 10px;
  text-align: left;
  overflow: hidden;
  font-family: "roadstore", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid inherit;
  border-radius: 6px;
  outline: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  max-width: 230px;
  height: 50px;
  font-family: "roadstore", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid inherit;
  border-radius: 6px;
  outline: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.btn-username{
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  align-items: center;
  width: fit-content;
  max-width: 170px;
  height: 50px;
  /*padding: 10px;*/
  font-family: "roadstore", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  /*border: 2px solid inherit;*/
  /*border-radius: 6px;*/
  outline: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}

.btn-username__text{
  color: inherit;
}

.btn-username p{
  white-space: nowrap;
}

.btn-username, .btn-logout{
  display: none;
}

.btn-login a, .btn-register a, .btn-logout a, .btn-username a{
  text-decoration: none;
  color: inherit;
}

.modes{
  font-size: 1.5rem;
  cursor: pointer;
  align-self: center;
  margin: 0 20px;
}

.modes--dark{
  background: #202024;
  color: rgb(214, 214, 214);
  border-color: rgb(163, 163, 163);
}

.header__navigation-close-button{
  display: none;
  color: red;
}

.header__menu-button{
  display: none;
}

.header__menu-button--font-style{
  font-size: 2.5rem;
}

.main-content{
  margin: auto;
  width: 50%;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 100vh;
}

.main-content__title{
  font-family: 'Inter';
  margin-bottom: 10px;
}

.main-content__image{
  width: 100%;
}

.main-content__image-caption{
  font-family: 'Inter',sans-serif;
  font-style: italic;
}

.content-page{
  margin-top: 50px;
  text-align: left;
  font-family: 'Inter';
  font: 500;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.content-page__links{
  color: inherit;
}

.content-page__list{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.iframe-video{
  width: 100%;
  height: 500px;
}

.footer{
  padding: 50px;
  margin-top: 100px;
  background-color: inherit;
  width: 100vw;
  min-width: 413px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Inter';
  border-top: 1px solid black;
}

.footer__informations{
  flex-basis: 412px;
  max-width: 412px;
  text-align: left; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: auto;
  padding: 15px;
}

.footer__title{
  text-align: center;
}

.footer .footer__email-link{
  color: inherit;
}

.footer__navigation{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 30px;
}

.footer__navigation-social-media-item{
  color: inherit;
  transition: all .5s;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer__navigation-social-media-item:hover{
  transform: translateY(-.25rem);
}

.footer__navigation-social-media{
  display: flex;
  gap: 15px;
}

.footer__navigation .ri-linkedin-box-fill, .footer__navigation .ri-github-fill{
  font-size: 5.5rem;
}

@media (max-width: 1360px){
  .header__navigation-item{
    font-size: 1.1rem;
  }
  .btn-login, .btn-register{
    width: fit-content;
    padding: 10px;
    font-size: 1.1rem;
  }
}

@media(max-width:1231px){
  .header__title{
    font-size: 1.4rem;
  }
}

@media (max-width: 1154px){
  .main-content{
    width: 70%;
  }
  .header__title{
    font-size: 2rem;
    margin-left: 50px;
  }
  .header__navigation{
    flex-direction: column;
    position: fixed;
    width: 400px;
    height: 500px;
    padding: 30px;
    background: inherit;
    border-bottom-left-radius: 10px;
    margin-right: 0;
    top: 0;
    right: -100%;
    /*right: 0;*/
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    transition: right .5s;
    /*display: none;*/
  }
  .btn-login, .btn-username{
    position: absolute;
    margin: 10px 0 0 10px;
    top: 0;
    left: 0;
    border-width: 3px;
  }
  .btn-register, .btn-logout{
    position: absolute;
    margin: 10px 0 0 10px;
    top: 0;
    left: 100px;
    border-width: 3px;
  }
  .btn-logout{
    left: 210px;
  }
  .show-menu{
    display: flex;
    right: 0;
  }
  .header__navigation-list{
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    gap: 50px;
    margin-top: 100px;
  }
  .modes{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 2.5rem;   
  }
  .header__navigation-close-button{
    display: initial;
    position: absolute;
    padding: 10px;
    font-size: 2rem;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
  }
  .header__navigation-item{
    font-weight: 900;
  }
  .header__navigation-element{
    backdrop-filter: blur(2px);
  }
  .header__menu-button{
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
  }
}

@media (max-width: 667px){
  .footer__informations{
    min-width: fit-content;
  }
}

@media(max-width:850px){
  .main-content{
    width: 80%;
    min-width: 100px;
  }
}

@media(max-width:430px){
  .header{
    min-width: 413px;
    flex-direction: column;
    position: relative;
  }
  .header__navigation{
    overflow-y: auto;
    width: 100%;
  }
  .header__title, .header__menu-button{
    margin: 0;
  }
  .main-content{
    width: 80%;
    min-width: 413px;
  }
}