
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Roadstore';
  src: local('Roadstore'), url('../../fonts/roadstore.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../../fonts/InterVariable.ttf') format('truetype');
}
