@import '../../../global/global.css';

body{
  min-height: 100vh;
  min-width: 413px;
  background: whitesmoke;
  color: black;
}

.header{
  display: flex;
  width: 100%;
  height: 6.5rem;
  align-items: center;
  justify-content: space-between;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  position: initial;
  background: inherit;
  border-bottom: 1px solid;
  border-color: inherit;
}

.header__title{
  margin-left: 1.5rem;  
  font-family: 'Roadstore';
  user-select: none; 
}





.header__navigation-close-button{
  display: none;
}

.header__navigation{
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.btn-navigation{
  padding: 10px;
  text-align: end;
  font-family: "roadstore", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid inherit;
  border-radius: 6px;
  outline: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.btn-navigation a{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.modes{
  font-size: 1.5rem;
  cursor: pointer;
  align-self: center;
  margin-right: 20px;
}

.modes--dark{
  background: #202024;
  color: rgb(214, 214, 214);
  border-color: rgb(163, 163, 163);
}

.header__menu-button{
  display: none;
  font-size: 2.5rem;
}

.main-content{
  width: 100%;
  height: 810px;
  min-height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  position: relative;
  width: 400px;
  height: fit-content;
  background: inherit;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.603);
  display:flex;
  justify-content: center;
  align-items: center;
}

.login__box{
  width: 100%;
  padding: 40px;
}

.login__title{
  font-family: 'roadstore', sans-serif;
  font-size: 1.5rem;
  color: inherit;
  text-align: center;
  user-select: none;
}

.input-container{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 52px 0;
}

.input-container__label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: inherit;
  pointer-events: none;
  transition: all .5s;
  font-weight: 600;
}

.input-container__user-input-event{
  top: -5px;
}

.input-container__user-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding-right: 35px;
}

.input-container__user-input ~ span{
  font-family: 'Inter';
  font-size: .8rem;
  font-weight: 600;
  color: rgb(223, 5, 5);
  user-select: none;
  display: none;
}

.input-container__user-input__alert-agree, .alert-empty-fields{
  text-align: center;
  font-family: 'Inter';
  font-size: .8rem;
  font-weight: 600;
  color: rgb(223, 5, 5);
  user-select: none;
  margin-bottom: 10px;
  display: block;
}

.icon{
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: inherit;
}

.form__agree{
  font-size: .9rem;
  color: inherit;
  font-family: 'Inter';
  margin: 25px 0 10px 0;
  font-weight: 500;
}

.form__agree-login-terms{
  accent-color: rgb(146, 0, 0);
  margin-right: 3px;
}

.form__agree-login a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.form__agree-login a:hover{
  text-decoration: underline;
}

.btn-register-account {
  width: 100%;
  height: 45px;
  background: inherit;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 1rem;
  color: inherit;
}

.form__login{
  font-size: .9em;
  color: inherit;
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
  font-family: 'Inter';
}

.form__login p a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.form__login p a:hover{
  text-decoration:underline;
}

@media(max-width:500px){
  .header__navigation{
    flex-direction: column;
    position: fixed;
    gap: 10px;
    width: 400px;
    height: 500px;
    padding: 30px;
    background: inherit;
    border-bottom-left-radius: 10px;
    margin-right: 0;
    top: 0;
    right: -100%;
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    transition: all .5s;
    z-index: 99;
  }
  .header__navigation > :nth-child(1){
    margin-top: 50px;
  }
  .show-menu{
    display: flex;
    right: 0;
  }
  .modes{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 3.5rem;
  }
  .header__navigation-close-button{
    display: initial;
    position: absolute;
    padding: 10px;
    font-size: 2rem;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
  }
  .header__menu-button{
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
  }
}

@media(max-width: 430px){
  .header__navigation{
    width: 100%;
  }
}