@font-face {
  font-family: 'Roadstore';
  src: local('Roadstore'), url('../../../assets/fonts/roadstore.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../../../assets/fonts/InterVariable.ttf') format('truetype');
}
